.jersey-page-container{
    display:flex;
    flex-direction:row;
    background-color:lightgrey;
    margin: auto;
    width: 75%;
    padding:24px;
    margin-top:2rem;
}

.jersey-info-container,.purchase-jersey-container{
    width:50%;
    padding:10px;
    text-align:center;
}
.jersey-info-container{
    border:2px solid red;
}

.purchase-jersey-container{
    display:flex;
    flex-direction:column;
    gap:2rem;
    justify-content:center;
}
#jersey-price{
    font-size:2rem;
}

#add-to-cart-button{
    padding:8px;
    width:50%;
    font-size:1rem;
    background-color:rgb(230, 82, 82);
    cursor:pointer;
}
#add-to-cart-button:hover{
    background-color:rgb(248, 142, 142);
}
